.bottom-bar-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.social_meadia_main a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_meadia_main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.copy-right-main{
    font-size: .8rem;
    color: #CFCFCF;
    padding: 6px 20px;
}

@media screen and (max-width:756px) {
    .bottom-bar-main {
        position: fixed;
        bottom: 0;
        backdrop-filter: blur(10px);
        background-color: rgba(29, 29, 29, 0.1);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px 20px;
        z-index: 99;
    }
    .social_meadia_main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .social_meadia_main a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .copy-right-main{
        font-size: .6rem;
        color: #f4f4f4;
        padding: 0px 20px;
        text-align: right;
        border-left: none;
        width: auto;
        white-space: nowrap;
    }
}