   <div className='tracks-grid'>
        <div className='track-box'>
          <div className='track-image'>
            <Image
              src="/tracks/ai.png"
              width="500"
              height="500"
              alt=" Generative AI
            and Machine Learning"
            />
          </div>
          <div className='track-title'>
            Generative AI
            and Machine Learning
          </div>
        </div>

        <div className='track-box'>
          <div className='track-image'>
            <Image
              src="/tracks/cybers.png"
              width="500"
              height="500"
              alt=" Generative AI
            and Machine Learning"
            />
          </div>
          <div className='track-title'>
            Cybersecurity
          </div>
        </div>

        <div className='track-box'>
          <div className='track-image'>
            <Image
              src="/tracks/blockchain.png"
              width="500"
              height="500"
              alt=" Generative AI
            and Machine Learning"
            />
          </div>
          <div className='track-title'>
            Blockchain
          </div>
        </div>

        <div className='track-box'>
          <div className='track-image'>
            <Image
              src="/tracks/cdev.png"
              width="500"
              height="500"
              alt=" Generative AI
            and Machine Learning"
            />
          </div>
          <div className='track-title'>
            Cloud
            and DevOps
          </div>
        </div>

        <div className='track-box'>
          <div className='track-image'>
            <Image
              src="/tracks/webdev.png"
              width="500"
              height="500"
              alt=" Generative AI
            and Machine Learning"
            />
          </div>
          <div className='track-title'>
          Web
and App Development
          </div>
        </div>

        <div className='track-box'>
          <div className='track-image'>
            <Image
              src="/tracks/openi.png"
              width="500"
              height="500"
              alt=" Generative AI
            and Machine Learning"
            />
          </div>
          <div className='track-title'>
          Open Track : Build For A Good Cause
          </div>
        </div>
      </div>