.main{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../public/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}