.partners-main{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../public/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
 .heading{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    font-weight: 600;
    color: #f1f1f1;
 }
  .partners-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    padding: 20px;
  }
  
  .tabs-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    margin-right: 10px;
    user-select: none;
    color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  /* .tab:hover {
    background-color: #f0f0f0;
  }
   */
  .tab.active {
    border-bottom: 1px solid #f0f0f0;
  }
  
  .content-container {
    padding: 20px;
 
  }
  .sponsors-main{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .platinum-div{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }
  /* Add additional styling as needed for the content within each tab */
  .platinum-div .platinum-logo-div{
    width: 250px;
    height: 120px;
  }

  .platinum-logo-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
.gold-div{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}
  .gold-logo-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .gold-logo-div{
    width: 250px;
    height: 120px;
    border-radius: 10px;
  }
  .gold-logo-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  


/* teams css */
.org-teams-main{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 100px;
}

.profile-box{
  width: 250px;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;

}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile-details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.profile-name{
  font-size: 1.1rem;
  color: #fff;
}
.profile-links a{
  color: #fff;
}
.profile-links{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.profile-tag{
  font-size: .9rem;
  color: #ebebeb;
}
@media screen and (max-width:756px) {
  .org-teams-main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .profile-box{
    width: 140px;
    border-radius: 5px;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: solid 1px #fff;

  }
  
.profile-name{
  font-size: .7rem;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
}
  .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  
  }
  .profile-tag{
    font-size: .6rem;
    color: #ebebeb;
  white-space: nowrap;

  }
    .partners-main{
        width: 100%;
        min-height: 100vh;
        background-image: url('../../public/mobile-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        padding-bottom: 100px;
    }
     .heading{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        margin-top: 30px;
        font-weight: 600;
        color: #f1f1f1;
     }
      .partners-container {
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
        padding: 20px;
      }
      
      .tabs-container {
        display: flex;
        margin-bottom: 20px;
      }
      
      .tab {
        width: 50%;
        padding: 20px 20px;
        cursor: pointer;
        /* border: 1px solid #ccc; */
        /* border-radius: 5px; */
        margin-right: 10px;
        user-select: none;
        color: #f0f0f0;
        font-size: .9rem;
        white-space: nowrap;
        text-align: center;
        transition: background-color 0.3s ease;
      }
      
      /* .tab:hover {
        background-color: #f0f0f0;
      }
       */
      .tab.active {
        border-bottom: 1px solid #f0f0f0;
      }
      
      .content-container {
        padding: 0px;
     
      }
      .sponsors-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .platinum-div{
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
      }
      /* Add additional styling as needed for the content within each tab */
      .platinum-div .platinum-logo-div{
        width: 100%;
        height: 120px;
      }
    
      .platinum-logo-div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    .gold-div{
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
    }
      .gold-logo-group{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    
      .gold-logo-div{
        width: 100%;
        height: 120px;
        border-radius: 10px;
      }
      .gold-logo-div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      
}